.map {
    height: 26vh;
    width: 100vw;
    border: none;
    filter: invert(100%) contrast(70%);
}

h1 {
    color: white;
}

.column {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    padding: 5px 40px 25px 40px;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
}

.captcha {
    display: flex;
    justify-content: center;
}
